.App {
  text-align: center;
}

body{
  /* background-color: blueviolet; */
  background: radial-gradient(ellipse at 50% 50%, rgb(57, 0, 148), rgb(23, 2, 44));
  /* background-image: url('assets/christian-mackie-cc0Gg3BegjE-unsplash.jpg'); */
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  margin-top: 8vh;
  
}


.NavBar{
  display: flex;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.075);
  color: rgb(255, 255, 255);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  /* padding: 10px; */
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 5vh;
}

.LinkContainer{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;

}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.01);
  color: orangered;
}

.Logo{
  font-family: 'Raleway', sans-serif;
  color: orangered;
  font-weight: bold;
  font-size: 30px;
  width: 20%;
  float: left;
  margin-top: 1vh;
  margin-left: 2vw;
}

.UserImageContainer{
  width: 10%;
  float: right;
  margin-top: 1vh;
  margin-right: 2vw;
}

.UserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.UserImage:hover {
  transform: scale(1.05);
  filter: hue-rotate(90deg);
}







